<mat-card class="my-3" *ngFor="let entry of searchService.entries$ | async">
  <mat-card-header>
    <mat-card-title>
      <span class="word">{{ entry.entryName }}</span> =
    </mat-card-title>
    <mat-card-subtitle>
      <ng-container *ngFor="let d of entry.data">
        <a mat-button color="primary" [routerLink]="['/home', d.EntryVisualization]" target="_blank">
          {{ d.EntryVisualization }}
        </a>
        <span class="vertical-divider"></span>
      </ng-container>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <div *ngIf="searchService.entryLanguage === 'en'" class="flag-container">
      <img src="https://lexis.ugr.es/artwork/britishflag.png" alt="British Flag">
      <img src="https://lexis.ugr.es/artwork/ldspkr_uk.png" alt="Speaker UK">
      <img src="https://lexis.ugr.es/artwork/americanflag.jpg" style="margin-left: 1rem" alt="American Flag">
      <img src="https://lexis.ugr.es/artwork/ldspkr_usa.png" alt="Speaker USA">
    </div>
    <app-examples [idEntry]="entry.idEntry"></app-examples>
    <hr>
    <app-variants [idTerm]="entry.idEntry"></app-variants>
  </mat-card-content>
</mat-card>
