.search-bar {
    width: 200%;
    max-width: 900px;
    margin: auto;
  
    display: flex;
    justify-content: top;
    margin-top: 1%;
  }
  
  mat-form-field {
    width: 80%;
    font-size: 1.1rem;
    background-color: transparent !important;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white !important;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  button mat-icon {
    color: #6b807e;
    font-size: 2rem;
  }
  
  mat-option img {
    margin-right: 11px;
    vertical-align: middle;
    width: 25px;
    height: 25px;
  }
  
  mat-option {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 1.2rem;
  }
  