<section>

    <input type="text" placeholder="Search..." aria-label="Number" matInput [formControl]="autocompleteTermino"
           [matAutocomplete]="auto">
    <button  (click)="seleccionarTermino(autocompleteTermino.value)">
        <mat-icon svgIcon="search"></mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarTermino($event.option.value)">
      <mat-option *ngFor="let word of words$ | async" [value]="word">
          <img width="20px" src="{{ word.language == 'en'? 'https://lexis.ugr.es/artwork/britishflag.png' : 'https://lexis.ugr.es/artwork/es.png'}}" alt="">
       {{word.term}}
      </mat-option>
    </mat-autocomplete>


</section>

